.section {
  padding: 15px;
}

.section__content--text {
  text-align: left;
}

.section--h1 {
  text-align: center;
  font-size: 22px;
  color:hsl(0, 0%, 100%);
}

.section--paragraph {
  font-size: 20px;
  padding: 5px;
}

.section--paragraph--white {
  color:hsl(0, 0%, 100%);
}

.section--bold{
  font-weight: bold;
}

.section__button {
  background-color: hsl(0, 0%, 100%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
}

.section__button--link {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}
